body
{
  font-family: 'Exo',  sans-serif;
  background-color:#fffefe;
}
h1
{
  color:#423a65;
}
h3
 {
   color:#423a65;
}

#root
{
     width: 60%;
     background:#fafafa;
     margin: 0 auto;
     margin-top: 25px;
     border: 10px solid #dddada;
     padding: 30px;
     text-align: center;

}

#string
{
  width: 60%;
  border-radius: 3px;
  height: 60px;
  text-align: center;
  font-size: 15px;
  background: #faf7f7;

}
#offsetInput {
  width: 5%;
  border-radius: 3px;
  height: 20px;
  text-align: center;
  font-size: 15px;
  background: #faf7f7;

}
.button {
  background: #5a4da3;
  border: #e9484d;
  padding: 10px;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  transition-duration: .5s;
  margin-top: 10px;
  cursor: pointer;
  font-family: 'Exo', sans-serif;
}

.button:hover {
  background: #66ce70;
  border-radius: 5px;
  color:#ffffff;
  cursor: pointer;
}
#messageDiv {
  width: 60%;
  background: #e5e3e3fc;
  border-radius: 3px;
  height: 80px;
  padding-top: 10px;
  margin: 0 auto;
  margin-top: 20px;
    
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?hu6hv');
  src: url('fonts/icomoon.eot?hu6hv#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?hu6hv') format('truetype'), url('fonts/icomoon.woff?hu6hv') format('woff'), url('fonts/icomoon.svg?hu6hv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e98f";
}

.icon-unlocked:before {
  margin-right: 5px;
  content: "\e990";
}
